.headerMain {
	background-color: #fff;
	padding-top: 5rem;
}
header.container {
	z-index: 100;
}
.heading {
	margin-bottom: 8rem;
}
.heading h1 {
	font-size: 48px;
	font-weight: bold;
	line-height: 60px;
}
.heading p {
	font-size: 16;
	line-height: 24px;
	color: black;
	margin: 2rem 0;
	margin-right: 2rem;
}

a.hire {
	background-color: #111430;
	color: white !important;
	padding: 10px 45px;
	border-radius: 6px;
	text-decoration: none !important;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

a.hire:hover {
	background: #7ab259;
	box-shadow: 0 8px 6px -6px #111430;
}
